* {
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth; /*плавная прокрутка*/
}
body {
font-family: "Lato", serif;
margin: 0;
}

.contenier{
    max-width: 80%;
    margin-left: auto; /* ставим контенер с карточками по середине страницы*/
    margin-right: auto;
}

.header{
    position: relative; /* родитель для стрелочки на первой странице*/
    width: 100%;
    height: 100vh;
    background-image: url(bil.jpg);
    background-size: cover; /* размер фона растягиваем на всю ширину и высоту*/
    background-position: center; /* фот по центру*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name1{
    font-weight: 1000;
    font-size: 70px;
    margin: 0%;
}

.name2{
    font-size: 30px;
    letter-spacing: 0.1em;
    color: gray;
    margin: 0%;
    font-weight: normal;
    text-transform: uppercase; /* верхний регистр*/
}

.icon{
    position: absolute; 
    bottom: 0;
    left: 50%;
}

.icon:active{
    background-color: none;
}

.main{
  background-color: rgb(255, 255, 255);  
   max-width: 100%;
   padding-bottom: 115px; /* отступы от 1 слайда снизу и сверху*/
   padding-top: 80px;
}

.contenier-name{
    margin-bottom: 40px;
    font-size: 55px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    color: rgb(0, 0, 0);
    
}

.card-name{
    margin: 0;
    text-transform: uppercase;
    font-size: 19px;
    font-weight: 550;
}

/*создаем карточку*/
.card{
    margin-bottom: 20px;
    max-width: 45%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in; /*плавно поднимаются карточки*/
}

.card:hover{ /*когда наводим на карточку она поднимается на 15 пикселей по у вверх*/
transform: translateY(-15px);
}

.links{
    display: block;
    padding: 20px;
    text-decoration: none;
    color: black;
    transition: color 0.2s ease-in; /* плавно меняется цвет*/
}

.links:hover{
    color: brown;
}


.card:last-child {
    margin-bottom: 0; /*убираем нижий отступ у последнего элемента*/
}

.card:nth-last-child(2) {
   margin-bottom: 0; /*у предспоследнего*/
}

.img-main{
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.card h3{
    text-align: center;
}

.cards-wrapp{
    display: flex; /* размещаем все карточки в ряд*/
    flex-wrap: wrap; /* чтобы карточки переходили на след строку*/
    justify-content: space-between; /* расстояние между каточками*/
}

.footer{
    color: rgb(105, 105, 105);
    margin-top: 50px;
    margin-bottom: 0;
    background-color: rgb(163, 163, 163);
    padding-top: 45px;
    padding-bottom: 45px;
}

.footer-col {
    max-width: 350px;
}

.footer-row{
display: flex;
justify-content: space-between;
align-items: center;
}

.footer-copirait{
    color: rgb(105, 105, 105);
    line-height: 8px;
    max-width: 310px;
}

.name-footer{
font-weight: 700;
margin-bottom: 15px;
font-size: 20px;
}

.footer-copirait p{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 15px;
}

.footer-icons{
    max-width: 310px;
}

.footer-icons p{
color: rgb(105, 105, 105);
font-size: 18px;
font-weight: 600;
line-height: 0;
}

.footer-icons-row{
display: flex;
align-items: center;
}

/* расстояние между иконками*/
.footer-icons-row > * + *{
    margin-left: 22px;
}

.footer-contact p{
    max-width: 310px;
    color: rgb(105, 105, 105);
    line-height: 0;
    font-weight: 500;
    font-size: 18px;
}

.footer-bottom{
    display: inline-block;
    border: 3px solid rgb(94, 93, 93);
    border-radius: 50px;
    height: 40px;
    padding-top: 6px;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    color: black;
    transition: all 0.2s ease-in;
}

.footer-bottom:hover{
background-color:rgb(94, 93, 93) ;
color: white;
}

.contenier-card1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 60px 30px 60px;
    text-transform: uppercase;
}


.name-card1{
    font-size: 100px;
    font-weight: 800;
    color: rgb(48 51 97);
}

.foto-card11{
    width: 550px;
}

.contenier-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
   
}

.list{
    text-transform: uppercase;
    color: brown;
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 0;
    margin-left: 75px;
}

.songs{
    font-size: 30px;

}

.card-bottom{
    margin-left: 30%;

}

.card-bottom1{
    display: inline-block;
    border: 3px solid brown;
    border-radius: 50px;
    height: 60px;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    color: black;
    font-size: 20px ;
    font-weight: 900;
    text-decoration: none;
    transition:  0.3s ease-in;
}

.card-bottom1:hover{
    background-color: brown;
    color: white;
}
